In [3]:
import pandas as pd
import numpy as np
pd.DataFrame({
    'A':[1,2,3]
})

   A
0  1
1  2
2  3

In [5]:

pd.Series([1,2,3,np.nan,123])

0      1.0
1      2.0
2      3.0
3      NaN
4    123.0
dtype: float64

In [21]:
dates = pd.date_range(start="20130101",end="20130105")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05'],
              dtype='datetime64[ns]', freq='D')

In [78]:
df = pd.DataFrame({
    'value':[1,2,3,4,5],
},index=dates)

In [34]:
df = pd.DataFrame({'ID': [101, 102], 'A': [1, 2]})
# df = df.set_index('A')
df

    ID  A
0  101  1
1  102  2

In [132]:
df = pd.DataFrame(
    {'value': [100, 200, 300],'value1':[300,300,400]},
    index=['AAPL', 'MSFT', 'GOOG']
)
df.dtypes
# df.columns
# df.to_numpy()
# df.head(-1)
df.describe()
type(df.loc[:,"value"])
print(df[df>200])
df[df>200].mean(axis=1)

      value  value1
AAPL    NaN     300
MSFT    NaN     300
GOOG  300.0     400

AAPL    300.0
MSFT    300.0
GOOG    350.0
dtype: float64

In [62]:
np.random.randn(6,4,2)

array([[-1.10648972,  1.14731996,  2.16752569,  0.8816733 ],
       [ 0.02716326, -1.10920225, -0.96788704,  0.74823555],
       [ 0.6056447 ,  1.27321939, -1.21496326, -1.11411064],
       [ 0.20844674,  0.62946573, -0.32490207,  0.38796737],
       [-0.04250649,  0.1160279 ,  1.15849889, -0.14620394],
       [ 1.34188187,  0.94730464,  0.05025577,  0.35812152]])

In [144]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
print(left,'\n',right)
# pd.merge(left,right,on="key",validate="one_to_one")
pd.merge(left.drop_duplicates("key"),right.drop_duplicates("key"),on="key")

   key  lval
0  foo     1
1  foo     2
    key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4