In [1]:
import numpy as np
import pandas as pd

In [14]:
np.random.randn(5)

array([ 0.91807617, -0.75453513,  0.27967871,  0.09469149,  1.84039902])

In [31]:
s1 = pd.Series({
    "a":1,
    "b":2
})
s1
s1+s1

a    2
b    4
dtype: int64

In [43]:
df = pd.DataFrame({
    "one":[1,1,1],
    "two":[2,2,2]
})

df["three"] = df["one"]+df["two"]
df["foo"] = "foo"
df.insert(1,"bar",[4,2,4])
type(df.values)

numpy.ndarray

In [48]:
pd.set_option("display.width", 20)
pd.DataFrame(np.random.randn(3, 100))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-1.461895,0.273067,-0.367065,1.650695,0.274397,-0.789275,1.718026,-0.199710,0.302860,-0.437928,...,-0.829312,0.283443,1.359805,0.778609,1.930340,-0.811490,-1.398730,0.527954,-1.043231,-0.068777
1,-0.562583,-0.463132,-0.644512,1.089140,-0.523251,-1.760662,0.642456,0.295215,1.606102,0.417947,...,-0.856844,-0.837077,0.649794,0.296359,-0.411617,0.763712,-0.898596,0.517209,-1.450706,0.531656
2,-0.853297,0.069440,1.151175,0.393137,0.386713,-1.673963,-0.288307,-0.165516,-0.332407,0.033588,...,0.320362,0.311645,0.441271,0.808538,1.010304,-0.609479,-1.480429,0.026873,1.290856,-1.263889